__pycache__/
*.py[cod]
*.egg
*.egg-info/
*.log
.coverage
.coverage.*
.env
.env.*
.python-version
.pytest_cache/
.mypy_cache/
.ruff_cache/
.nox/
.tox/
.venv/
venv/
ENV/
env/
.build/
build/
dist/
htmlcov/
pip-wheel-metadata/
db.sqlite3
db.sqlite3-journal
storage/
staticfiles/
.DS_Store
Thumbs.db
.idea/
.vscode/
